[Unit]
BindsTo=helloweb-discovery@%i.service
After=helloweb-discovery@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull jolson88/coreos-gettingstarted-web
ExecStart=/bin/sh -c '/usr/bin/docker run --name %p-%i  \
    -p 8080:8080                                        \
    -e COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4}       \
    jolson88/coreos-gettingstarted-web'
ExecStop=/usr/bin/docker stop %p-%i
Restart=always

[X-Fleet]
MachineOf=helloweb-discovery@%i.service
