[Unit]
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /services/web/${COREOS_PRIVATE_IPV4} ${COREOS_PRIVATE_IPV4} --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /services/web/${COREOS_PRIVATE_IPV4}

[X-Fleet]
Conflicts=helloweb-discovery@%i.service

